body{
  height: 200vh;
  width: 100vw;
  box-sizing: border-box;
}

#cover{
  height: 5vh;
  width: 550px;
  background-color:  forestgreen;
  position: fixed;
  top: 0px;
  left: 19vw;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.board{
  height: 500px;
  width: 500px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

/* .launcher{

}

input{

} */

p{
  text-align: center;
}

.top-half{
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top-right{
  height: 90vh;
  width: 30vw;
  border: 1px solid black;
  display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
  align-content: stretch;
}

#top-shot-log{
  height: 250px;
  width: 250px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

#bottom-shot-log{
  height: 250px;
  width: 250px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.seperator{
  height: 20vh;
  width: 100vw;
  background-color: black;
}

.bottom-half{
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.bottom-right{
  height: 90vh;
  width: 30vw;
  border: 1px solid black;
  display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

button{
  border-radius: 10px;
}